## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

## Import Datasets

In [2]:
rentals = pd.read_csv("rental.csv")

In [4]:
rentals.head()

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     Köpenick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

In [6]:
rentals.tail()

          Region        Condition  Rooms    Rent  Year_Construction   Space
759      Wedding   mint_condition    1.0   959.0               2017   27.80
760      Wedding   mint_condition    1.0   649.0               2017   20.50
761  Wilmersdorf   mint_condition    4.0  2750.0               2017  110.00
762     Köpenick        well_kept    2.0  1259.0               2017   91.20
763     Neukölln  fully_renovated    2.0   888.0               1990   68.48

In [7]:
rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             764 non-null    object
 1   Condition          764 non-null    object
 2   Rooms              764 non-null    float64
 3   Rent               764 non-null    float64
 4   Year_Construction  764 non-null    int64
 5   Space              764 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 35.9+ KB

In [11]:
rentals.shape[1]

6

In [12]:
rentals['Condition']

0       first_time_use
1       first_time_use
2            well_kept
3            well_kept
4       first_time_use
            ...
759     mint_condition
760     mint_condition
761     mint_condition
762          well_kept
763    fully_renovated
Name: Condition, Length: 764, dtype: object

In [14]:
rentals.Condition.nunique()

9

In [15]:
rentals.Condition.unique()

array(['first_time_use', 'well_kept', 'mint_condition', 'no_information',
       'fully_renovated', 'first_time_use_after_refurbishment',
       'refurbished', 'modernized', 'need_of_renovation'], dtype=object)

The coditions are:
1. first time use
2. well kept

In [16]:
rentals.head(1)

  Region       Condition  Rooms    Rent  Year_Construction  Space
0  Mitte  first_time_use    4.0  2659.0               2019  117.2

In [19]:
rentals.Region.unique()

array(['Mitte', 'Kreuzberg', 'Köpenick', 'Wilmersdorf', 'Charlottenburg',
       'Friedrichsfelde', 'Tiergarten', 'Prenzlauer', 'Wedding',
       'Neukölln'], dtype=object)

In [20]:
rentals.Rent.mean()

1768.5609424083777

In [21]:
rentals.Rent.max(), rentals.Rent.min()

(14207.0, 271.25)